body {
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 16px;
}