body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .hero-section {
    background-color: #1F2937;
    padding: 10px 120px;
    padding-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 24px;
}

.logo {
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

li {
    margin-left: 16px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero-text {
    flex: 1;
}

.htitle {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.htext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
    background-color: grey;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex: 1;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    margin-top: 15px;
}

.random-section {
    margin: 10px 120px;
    margin-bottom: 80px;
}

.random-header {
    text-align: center;    
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 40px;
}

.info-bits {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.img {
    height: 100px;
    width: 100px;
    border: solid #3882f6;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 5px;
}

.itext {
    text-align: center;
}

.quote-section {
    padding: 120px 200px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}

.call-section {
    margin: 60px 120px;
}

.call-box {
    background-color: #3882F6;
    color: white;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.maintxt {
    font-weight: bolder;
}

.subtxt {
    font-weight: lighter;
}

.call-button {
    border: solid 2px #ffff;
    border-radius: 8px;
}